.table {
  text-decoration: none;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  width: fit-content;
  grid-area: table;
}
.table__header {
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  background-color: #5c6a7a;
  position: relative;
  min-width: 100px;
}

.table__btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 1px;
  margin: 0;
  border: none;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  font-size: 0;
}

.table__btn_type_sort {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}

.table__btn_type_sort:hover {
  opacity: 0.7;
}

.table__btn_type_sort:focus {
  border: 1px solid #000000;
}

.table__btn_type_delete {
  position: absolute;
  top: 5px;
  transition: 0.3s;
}

.table__btn_type_delete:hover,
.table__btn_type_delete:focus {
  opacity: 0.7;
  transform: scale(1.3);
}

.table__img-sort {
  width: 20px;
  height: 20px;
}

.table__img-delete {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}

.table__line {
  position: relative;
}

.table__line:focus {
  background-color: #cce1f0;
}

.table__line_hover {
  background-color: #cce1f0;
}

.table__header,
.table__cell {
  white-space: pre-wrap;
  padding: 10px 5px;
  line-height: 13px;
  vertical-align: middle;
  border: 1px solid #354251;
}

.table__cell {
  font-size: 13px;
}

.table__cell:hover {
  cursor: pointer;
}

.table__cell-delete {
  padding: 0;
}
